@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gochi+Hand&family=Lugrasimo&family=Vina+Sans&display=swap');



button {
    background-color: transparent;
    border: none;
    font-size: 30px;
   

}

.header-btn {
    display: flex;
    align-items: end;
    justify-content: end;
}

.light {
    background-color: rgb(255, 219, 153);
    color: black;
}

.dark {
    background-color: #292929;
    color: white;
}

.dark button{
   
    color: white;
}


.dark textarea{
   
    background-color: transparent;
    color: white;
}

.dark button:hover{
   
    color: rgb(249, 178, 0);
}

.light button:hover {
    color:white;
    transition: 0.4;
    
}
.light textarea{
   
    background-color: transparent;
    color: black;
}




img {
    width: 30px;

}


#text-space {
    height: 500px;
    border: none;
   width: fit-content;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 24px;
    font-family: 'Lugrasimo', cursive;
}


.html-icon{
    font-family: 'Vina Sans', cursive;
}

#preview-space {
    margin: auto;
    height: 500px;
    width: 60%;
    
    
    font-size: 24px;
}



.hidden-text-space {
    display: none;
}

.hidden {
    display: none;
}

.count-div {

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.count-div p {
    font-family: 'Gochi Hand', cursive;
    margin: 0;
}

.dark .count-div{
    color: rgb(91, 91, 91);
}
.light .count-div{
    color: rgb(199, 163, 96);
}



@media (max-width: 480px) {

    .full-screen{
        display: none;
    }


    .dark{
        color: white;
    }

    .main{
        margin: 0;
    }


    #text-space {
        
        width: fit-content;
        font-size: 20px;
        margin-top: 120px;
        margin-left: 10px;
       
    }

    #preview-space {

        width: 90%;

        font-size: 28px;
    }

    pre {
        width: 90%;
    }

    .header-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 0;
        width: 100%;
        gap: 40px;
    }

    .count-div {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
       
        
        justify-content: center;
        position: fixed;
        bottom: 10px;
        z-index: 9999;
        width: 100%;
    }

    .count-div p {
        font-family: 'Gochi Hand', cursive;
        margin: auto;
        font-size: 24px;
    }

   

    .dark button:active{
   
        color: rgb(249, 178, 0);
    }
    
    .light button:active {
        color:white;
        transition: 0.4;
        
    }




}